---
layout: default
---

<!-- Page Header -->
{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>{{ site.title }}</h1>
            <!--             {% if site.description %}
            {% endif %} -->

            <span class="subheading"><strong>April 30 - May 1, 2023 @Austin, TX, USA</strong></span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <div class="container-fluid">
          <div class="row-fluid">
            <div class="span12">
              <p>
                <span><strong>ProvenanceWeek will take place on April 30-May 1. </strong>Following successful previous ProvenanceWeek events, this year’s instalment will again co-locate the IPAW and TaPP workshops in conjunction with WebConf 2023. IPAW and TaPP build on a successful history of provenance workshops that bring together researchers from a wide range of computer science fields including workflows, semantic web, databases, high performance computing, distributed systems, operating systems, programming languages, and software engineering, as well as researchers from other fields, such as biology and physics that have urgent provenance needs.</span>
              </p>

              <p>
                <span>  Provenance is increasingly important in data science, workflow systems, and many other areas, particularly to support transparency, accountability and explanations. By providing a record of the data creation process and of dependencies between data, provenance information is essential for tracing errors in transformed data back to erroneous inputs, access control, auditing, repeatability and reproducibility, evaluating data quality, and establishing ownership of data.</span>
              </p>

              <p>
                <span><strong>Happy Birthday W3C PROV! </strong>The W3C PROV standard is 10years old. As a part of ProvenanceWeek 2023, we will be celebrating the standards creation and impact. There will be cake.</span>
              </p>
              
               <p>
                <span>The 2023 ACM Web Conference is an <strong>in-person conference with virtual components</strong> including live streaming of ceremonies and keynotes, access to pre-recorded videos of talks, and the Whova platform for interaction with all conference attendees. </span>
              </p>
              
              <p>
                <span>All speakers and presenters participating in any way are expected to attend the conference in person. For exceptional reasons, if you are not able to attend in person to present, you may assign a proxy who must be in person.</span>
              </p>

              <!-- programe -->

              <h2>
                Organizers
              </h2>
              <br />
              <br />

              <h4>Chair</h4>
              <ul>
                <li>Yuval Moskovich</li>
              </ul>
              <br />

              <h4>Co-Chair</h4>
              <ul>
                <li>Daniel Deutch</li>
              </ul>
              <br />

              <h4><u><a href= "https://provenanceweek.github.io/IPAW2023/">IPAW</a></u> SC Chair</h4>
              <ul>
                <li>Paul Groth</li>
              </ul>
              <br />

              <h4><u><a href= "https://provenanceweek.github.io/TaPP2023/">TaPP</a></u> SC Chair</h4>
              <ul>
                <li>Adriane Chapman</li>
              </ul>
              <br />
              <h4>
                Program Committee
              </h4>
              <ul>
                <li>Khalid Belhajjame, PSL, Université Paris-Dauphine, LAMSADE</li>
                <li>Ghita Berrada, King's College London</li>
                <li>Elisa Bertino, Purdue University</li>
                <li>Pierre Bourhis, CNRS CRIStAL</li>
                <li>Vanessa Braganholo, UFF</li>
                <li>Vasa Curcin, King's College London</li>
                <li>Daniel de Oliveira, Fluminense Federal University</li>
                <li>David Eyers, University of Otago</li>
                <li>Irini Fundulaki, ICS-FORTH</li>
                <li>Amir Gilad, Duke University</li>
                <li>Boris Glavic, Illinois Institute of Technology</li>
                <li>Paul Groth, University of Amsterdam</li>
                <li>Xueyuan Han, Wake Forest University</li>
                <li>Melanie Herschel, University of Stuttgart</li>
                <li>Matteo Interlandi, Microsoft</li>
                <li>David Koop, Northern Illinois University</li>
                <li>Seokki Lee, University of Cincinnati</li>
                <li>Bertram Ludäscher, University of Illinois at Urbana-Champaign</li>
                <li>Tanu Malik, DePaul University</li>
                <li>Marta Mattoso, COPPE- Federal Univ. Rio de Janeiro</li>
                <li>Paolo Missier, Newcastle University</li>
                <li>Tope Omitola, University of Southampton</li>
                <li>Liat Peterfreund, CNRS</li>
                <li>Sudeepa Roy, Duke University</li>
                <li>Pierre Senellart, DI, École normale supérieure, PSL Research University</li>
                <li>Roee Shraga, Northeastern University</li>
                <li>Gianmaria Silvello, University of Padua</li>
                <li>Xiao Yu, Stellar Cyber</li>
              </ul>
              <br />
              <h2>
                Call for Papers
              </h2>
              <p>
                <span>We invite innovative and creative contributions, including papers outlining new formal
                  approaches to provenance, innovative use of provenance, experience-based insights, and
                  visionary ideas. </span>
              </p>
              <br />
              <h4>
                Topics of interest include, but are not limited to:
              </h4>
              <ul>
                <li>
                  <span>Provenance visualization, and human interaction with provenance</span>
                </li>
                <li>
                  <span>Provenance for big data and extreme computing</span>
                </li>
                <li>
                  <span>Provenance for attribution and trust</span>
                </li>
                <li>
                  <span>Provenance for transparency and accountability</span>
                </li>
                <li>
                  <span>Security and privacy implications of provenance </span>
                </li>
                <li>
                  <span>Provenance, social media, and the semantic web</span>
                </li>
                <li>
                  <span>Provenance analytics, discovery, and reasoning about provenance and its quality</span>
                </li>
                <li>
                  <span>Data sharing and data citation </span>
                </li>
                <li>
                  <span>Provenance of workflows and annotations</span>
                </li>
                <li>
                  <span>Standardization of provenance models, services, and representations</span>
                </li>
                <li>
                  <span>Provenance management system prototypes and commercial solutions</span>
                </li>
                <li>
                  <span>Applications of provenance in real-life settings</span>
                </li>
                <li>
                  <span>Theoretical foundations of provenance </span>
                </li>
                <li>
                  <span>Connections between provenance and established topics in other research fields
                  </span>
                  <span>(programming languages, security, software engineering, fairness, etc.)</span>
                </li>
                <li>
                  <span>Provenance-based audit and forensics</span>
                </li>
                <li>
                  <span>Design, performance and scalability of provenance systems</span>
                </li>
              </ul>
              <br />
              <h4>
                Location and Dates:
              </h4>
              <p>
                ProvenanceWeek will be held in conjunction with WebConf 2023 in Austin Texas on Sunday, April 30, and Monday, May 1, 2023.
              </p>
              <br />
              <h4>
                Important Dates:
              </h4>
              <ul>
                <li>
                  <strong>Papers Due:</strong> February 6, 2023
                </li>
                <li>
                  <strong>Notification of Acceptance:</strong> March 6, 2023
                </li>
                <li>
                  <strong>Camera-ready version due: </strong> March 15, 2023
                </li>
                </ul>
                <p>All deadlines are end-of-day in the Anywhere on Earth (AoE) time zone.</p>
              <br />

              <h4>
                Submission Site:
              </h4>
              <p>
                Submission is via easychair, using the following link: <a href="https://easychair.org/conferences/?conf=thewebconf2023iwpd">https://easychair.org/conferences/?conf=thewebconf2023iwpd</a>
              </p>
              <br />
              <h4>
                Formatting the submissions:
              </h4>
              <p>
                Papers must be submitted in PDF format according to the ACM template published in the ACM guidelines, selecting the generic “sigconf” sample. The PDF files must have all non-standard fonts embedded. Workshop papers must be self-contained and in English. Papers should not exceed 12 pages in length (maximum 8 pages for the main paper content + maximum 2 pages for appendixes + maximum 2 pages for references).
              </p>
              <p>
                Authors should indicate the track in the title (IPAW, TAPP, DEMO, POSTER or BEST)
              </p>
              <br/>
              <h4>Tracks</h4>
              <p>Papers can be submitted to one of the following tracks: </p>
              <ul>
                <li><strong>IPAW:</strong><br/>Authors are invited to submit original research work to the IPAW track. This track solicits full research papers that describe mature, high-quality research on the topics of interest of the ProvenanceWeek. The title of submissions to IPAW must begin with "IPAW:".</</li>
                <p></p>
                <li><strong>TaPP:</strong><br/>We invite innovative and creative contributions, including papers outlining new challenges for provenance research, promising formal approaches to provenance, experiments, and visionary (and possibly risky) ideas. The title of submissions to TaPP must begin with "TAPP:".
                  <br/>
                  <p>In addition to regular research papers, we also encourage submissions of thefollowing flavors: </p>
                  <ul>
                    <li>Short papers (up to 4 pages, including references) that would typically include work in progress or visionary ideas that are not yet fully developed, but have the potential to lead to cutting-edge research. </li>
                    <p></p>
                    <li>
                      Application papers (up to 6 pages, including references) focusing on innovative applications and uses of provenance.
                    </li>
                  </ul>
                </li>
                <p></p>
                <li><strong>“Best of the Rest”</strong><br/>As ProvenanceWeek is meant to bring together the provenance community, which is now established and publishing in conferences and journals across computational domains, the Theory and Practice of Provenance (TaPP) is forming a “Best of the Rest” category. If you have had a provenance-paper accepted to a conference or journal in 2022 thru February 2023, we invite you to submit the abstract to TaPP. We will invite the “Best of the Rest” to present their work at TaPP to widen the conversation.<br/><br/>
                Submit the abstract and original publication venue and date of the previously published work. The title of the abstract must begin with "BEST:".</li>
              </ul>
              <p>
              We also encourage the presentation of ongoing work as posters or demonstrations.
              Proposals for posters or demonstrations should be formatted and submitted as
              described above, with the following additional restrictions:
              <ul>
                <li><strong>Demonstrations:</strong><br>Using no more than 4 pages, describe the context and
                	highlights of the proposed demonstration, including a brief description
                	of the demonstration scenario. The title of the proposal must begin with "DEMO:".</li>
                  <p></p>
                  <li><strong>Posters:</strong><br>Submit a 1-page abstract of the poster. The title of the
                  	abstract must begin with "POSTER:".</li>
              </ul>

                </p>
                <br/>





            </div>
          </div>
        </div>


      </div>
    </div>
  </div>
